<header>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"><img src="../../assets/logo.png" height="60px" width="auto"></a>
      </div>

      <ul class="nav">
        <li ui-sref-active="active">
          <a ui-sref="create" routerLink="/createplayer">Create Player</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="players" routerLink="/searchplayers">Players</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="home" routerLink="/">Home</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
