<div id="crUpdatePerson" class="col-xs-12" *ngIf="form">
  <h1 id="pageHeadLine">{{pageTitle}}</h1>
  <form [formGroup]="form" role="form">
    <div class="form-group row">
      <label for="idInput" class="col-xs-9 form-control-label">
        ID
      </label>
      <div class="col-xs-9">
        <input id="idInput" placeholder="Not set" class="form-control"
               formControlName="id" [readonly]="true" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="firstNameInput" class="col-xs-9 form-control-label">
        Firstname
      </label>
      <div class="col-xs-9">
        <input id="firstNameInput" placeholder="Not set" class="form-control"
               formControlName="firstName" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="lastNameInput" class="col-xs-9 form-control-label">
        Lastname
      </label>
      <div class="col-xs-9">
        <input id="lastNameInput" placeholder="Not set" class="form-control"
               formControlName="lastName" required>
      </div>
    </div>
    <div class="col-xs-9">
      <button id="updateBtn" (click)="onUpdate()" [disabled]="form.pristine || !form.valid" class="btn"> Update </button>
    </div>
  </form>
</div>
